include userMenuMixin
extends layout

block headerContent
    // logged in user menu
    +userMenuMixin(null)

block mainContent
    article.jumbotron.col-md-12
        // user sensors data
        section.col-md-10
            a(href='TemperatureDetail.html')
                button.btn.btn-default
                    h3
                        label.label.label-default
                    span SensorName
                    span 72
                    h6
                        | Outside Temp:
                    span 80
                    b #{message}

        section.col-md-2
            section.col-md-12
                // add a pi button
                a(href='/addpi')
                    button.btn.btn-default.pull-right
                        label Add a Pi
                // sync button
                a(href='/dashboard')
                    button.btn.btn-default.pull-right
                        i.fa.fa-refresh
                        label Sync

                h3 Filters:

                    // Pi filters
                label.col-md-12.label.label-default Pi
                div
                    .checkbox
                        input(type='checkbox')
                        | My Pi

                // sensor types filters
                label.col-md-12.label.label-default Sensor Type
                div
                    .checkbox
                        label Temperature
                        input(type='checkbox')
                    .checkbox
                        label Humidity
                        input(type='checkbox')
                    .checkbox
                        label Motion
                        input(type='checkbox')

block scripts
    script(src='/clientLogic/dashboardVM.js')

