.col-md-6
    label(for='sensorDescInput1') Sensor Description:
    input.form-control(id='sensorDescInput1', text='text', placeholder='sensor name')
    .col-md-6
        label(for='sensorTypeDropdown1') Sensor Type:
        select.form-control(id='sensorTypeDropdown1', text='text')
            option(value='1') uno
            option(value='2') dos