extends layout

block head
    link(rel='stylesheet', href='/lib/css/font-awesome.css')
    link(rel='stylesheet', href='/lib/css/bootstrap-social.css')

block mainContent
    article.jumbotron.col-md-12
        // local sign up form
        section.col-md-6
            form.form-signin(role='form', method='POST', action='/signup')
                h2.form-signin-heading Create an account
                input.form-control(type='email', placeholder='Email address', required='', name='email')
                input.form-control(type='password', placeholder='Password', required='', name='password')
                // TODO add client side logic validation for the password re-type
                input.form-control(type='password', placeholder='re-type Password', name='passwordRetype')
                button.btn.btn-lg.btn-primary.btn-block(type="submit") Create account

            if data.hasErrors
                .alert.alert-danger
                    ul
                        each message in data.messages
                            li #{ message }

        // social
        section.col-md-6
            form.form-signin(role='form')
                h2.form-signin-heading Or login with
                a.btn.btn-block.btn-social.btn-lg.btn-google-plus
                    i.fa.fa-google-plus
                    | Sign in with Google
                a.btn.btn-block.btn-social.btn-lg.btn-facebook
                    i.fa.fa-facebook
                    | Sign in with Facebook
block scripts
    script(src='/clientLogic/registrationVM.js')



