<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>HomeSense</title>
    <script src="../../../../Beta/public/lib/js/jquery.min.js"></script>
    <script src="../../../../Beta/public/lib/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="../../../../Beta/public/lib/css/bootstrap.min.css">
    <link rel="stylesheet" href="../../../../Beta/public/lib/css/font-awesome.css">
    <link rel="stylesheet" href="../styles/common.css">
</head>
<body>
<main class="container">
    <header class="bottom-border">
        <a href="../index.html"><img src="../imgs/bannerLogo.png"></a>

        <article class="dropdown navbar-right">
            <button class="dropdown-toggle btn btn-default" data-toggle="dropdown">
                <img src="../imgs/defaultUserImg.png">
                <b class="caret"></b>
            </button>
            <ul class="dropdown-menu">
                <li><a href="dashboard.html">Dashboard</a></li>
                <li><a href="#">Settings</a></li>
                <li><a href="#">Sign out</a></li>
            </ul>
        </article>
    </header>
	
<body>

<pre>
<font size = "18">JOHN DOE</font>     
<input type="range" min="0" max="10" step="5" value="5"
<font size "8">ON</font>                <font size "8">OFF</font> 
<table border="1" style="width:300px" align="center">
<tr bgcolor="C0C0C0">
	<td>TimeStamp</td>
	<td>Description</td>
</tr>
<tr>
	<td>1/20/2014-2:00pm</td>
	<td>Not an issue</td>
</tr>
<tr bgcolor="C0C0C0">
	<td>1/20/2014 - 2:00pm</td>
	<td>Not an issue</td>
</tr>
<tr>
	<td>1/20/2014 - 2:00pm</td>
	<td>Not an issue</td>
</tr>
<tr bgcolor="C0C0C0">
	<td>1/20/2014 - 2:00pm</td>
	<td>Not an issue</td>
</tr>

</table>

</body>

<body>
    <div id="placeholder"></div>
</body>

<script>get("http://homesense.abovotec.com/api/sensor/get_sensor_data/?email=indera@gmail.com&pass=pass&device=RasPi_Garage&sensor=TempSens1", function(data) {
alert(data);});</script>








</article>

    <footer>
        &copy; HomeSense 2014
    </footer>
</main>
</body>
<body>
    <div id="placeholder"></div>
</body>
</html>
</html>
</html> 
