<html>
<head>
    <meta charset="utf-8">
    <title>HomeSense</title>
    <script src="../../../../Beta/public/lib/js/jquery.min.js"></script>
    <script src="../../../../Beta/public/lib/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="../../../../Beta/public/lib/css/bootstrap.min.css">
    <link rel="stylesheet" href="../../../../Beta/public/lib/css/font-awesome.css">
    <link rel="stylesheet" href="../styles/common.css">
</head>
<body>
<main class="container">
    <header class="bottom-border">
        <a href="../index.html"><img src="../imgs/bannerLogo.png"></a>

        <article class="dropdown navbar-right">
            <button class="dropdown-toggle btn btn-default" data-toggle="dropdown">
                <img src="../imgs/defaultUserImg.png">
                <b class="caret"></b>
            </button>
            <ul class="dropdown-menu">
                <li><a href="dashboard.html">Dashboard</a></li>
                <li><a href="#">Settings</a></li>
                <li><a href="#">Sign out</a></li>
            </ul>
        </article>
    </header>
<body>

<pre>
<font size = "18">Change Password</font>
</pre>

<form>
current password <input type="text" name="pi"> Verification message
<p>
<p>

new Password <input type="password" name="pi"> Verification message
<p>
re-type new password <input type="password" name="pi"><br>
<p>

</form>

<button type="button">Change Password</button>

</body>

<body>
    <div id="placeholder"></div>
</body>

<script>get("http://homesense.abovotec.com/api/sensor/get_sensor_data/?email=indera@gmail.com&pass=pass&device=RasPi_Garage&sensor=TempSens1", function(data) {
alert(data);});</script>








</article>

    <footer>
        &copy; HomeSense 2014
    </footer>
</main>
</body>
<body>
    <div id="placeholder"></div>
</body>
</html>
</html>
</html>
</html>
