<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>HomeSense</title>
        <script src="../lib/js/jquery.min.js"></script>
        <script src="../lib/js/bootstrap.min.js"></script>
        <link rel="stylesheet" href="../lib/css/bootstrap.min.css">
        <link rel="stylesheet" href="../lib/css/font-awesome.css">
        <link rel="stylesheet" href="../lib/css/bootstrap-social.css">
        <link rel="stylesheet" href="../styles/common.css">
    </head>
    <body>
        <main class="container">
            <header class="bottom-border">
                <a href="../index.html"><img src="../imgs/bannerLogo.png"></a>
                <h1></h1>
            </header>

            <article class="jumbotron col-md-12">
                <section class="col-md-6">
                    <div>
                        <h2 class="form-signin-heading">Create an account</h2>
                        <input type="email" class="form-control" placeholder="Email address" required="" data-bind="value: email">
                        <input type="password" class="form-control" placeholder="Password" required="" data-bind="value: password">
                        <input type="password" class="form-control" placeholder="re-type Password" required="" data-bind="value: passwordRetype">
                        <label></label>
                        <button class="btn btn-lg btn-primary btn-block" data-bind="click: createAccount">Create account</button>
                    </div>
                    <div class="alert alert-success" data-bind="visible: successFeedback">
                        <span>Account successfully created</span>
                    </div>
                </section>
                <section class="col-md-6">
                    <form class="form-signin" role="form">
                        <h2 class="form-signin-heading">Or login with</h2>
                        <a class="btn btn-block btn-social btn-lg btn-google-plus"><i class="fa fa-google-plus"></i>Sign in with Google</a>
                        <a class="btn btn-block btn-social btn-lg btn-facebook"><i class="fa fa-facebook"></i>Sign in with Facebook</a>
                    </form>
                </section>
            </article>
            <footer>
                &copy; HomeSense 2014
            </footer>
        </main>

        <script src="../lib/js/knockout-3.js"></script>
        <script src="../clientLogic/registrationVM.js"></script>
    </body>
</html>