<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.app" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.example.app.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.app.HomeScreen"
            android:label="@string/title_activity_home_screen"
            android:parentActivityName="com.example.app.MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.app.MainActivity" />
        </activity>
        <activity
            android:name="com.example.app.PWRec"
            android:label="@string/title_activity_pwrec"
            android:parentActivityName="com.example.app.MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.app.MainActivity" />
        </activity>
        <activity
            android:name="com.example.app.Data1"
            android:label="@string/title_activity_data1"
            android:parentActivityName="com.example.app.HomeScreen" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.app.HomeScreen" />
        </activity>
        <activity
            android:name="com.example.app.Data2"
            android:label="@string/title_activity_data2"
            android:parentActivityName="com.example.app.HomeScreen" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.app.HomeScreen" />
        </activity>
        <activity
            android:name="com.example.app.HomeScreenLV"
            android:label="@string/title_activity_home_screen_lv"
            android:parentActivityName="com.example.app.MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.app.MainActivity" />
        </activity>
    </application>

</manifest>
