!!! 5
html
  head
    meta(charset='utf-8')
    title HomeSense
    script(src='lib/js/jquery.min.js')
    script(src='lib/js/bootstrap.min.js')
    link(rel='stylesheet', href='lib/css/bootstrap.min.css')
    link(rel='stylesheet', href='styles/common.css')
  body
    main.container
      header.bottom-border
        a(href='#')
          img(src='imgs/bannerLogo.png')
        .navbar-form.navbar-right
          form(method='post', action='localhost:8080/login')
          .form-group
            input(type='text', placeholder='username or email', data-bind='value: email')
          .form-group
            input(type='password', placeholder='password', data-bind='value: password')
          //
            type="submit" 
          button.btn.btn-default(type='submit', data-bind='click: doLogin') Login
      article.jumbotron.col-md-12
        article.col-md-5
          h1 Welcome!
          p
            | HomeSense is a simple and powerful system that allows you to monitor your home by placing a
            | Raspberry Pi with sensors connected at the location you want to keep an eye on, and checking
            | readings on your browser or Android device.
          a(href='pages/signup.html')
            button.btn.btn-lg.btn-default(role='button') Sign Up
        article.col-md-7
          #features-sideshow.carousel.slide(data-ride='carousel')
            //
               Indicators 
            ol.carousel-indicators
              li.active(data-target='#features-sideshow', data-slide-to='0')
              li(data-target='#features-sideshow', data-slide-to='1')
              li(data-target='#features-sideshow', data-slide-to='2')
            //
               Wrapper for slides 
            .carousel-inner
              .item.active
                img(src='imgs/temperatureSlide.png', alt='Monitor Temperature')
              .item
                img(src='imgs/humiditySlide.png', alt='Track Humidity')
              .item
                img(src='imgs/motionSlide.png', alt='Sense Motion')
            //
               Controls 
            a.left.carousel-control(href='#features-sideshow', data-slide='prev')
              span.glyphicon.glyphicon-chevron-left
            a.right.carousel-control(href='#features-sideshow', data-slide='next')
              span.glyphicon.glyphicon-chevron-right
      footer
        | © HomeSense 2014
    script(src='lib/js/knockout-3.js')
    script(src='clientLogic/HomePageVM.js')

