.bottom-border {
    padding-bottom: 1em;
    border-bottom: 1px solid #e5e5e5;
}

.top-border {
    padding-top: 1em;
    border-top: 1px solid #e5e5e5;
}

.bottom-margin {
    margin-bottom: 1em;
}

/** == Settings page == */
.tabTitle {
   font-weight: bold;
   font-size: 18px;
}

#changePass {
   padding: 2em;
   border: solid 2px #aaf;
   border-radius: 5px;
   width: 400px;
}

#changePass label {
   padding: 3px;
   width: 180px;
   color: blue; 
}

#changePass button {
   margin: 0 auto;
   font-weight: bold;
   border-radius: 4px;
   text-align: center;
   color: red;
}

#changePass button:hover {
   background: #eee; 
}

.demo-container {
    box-sizing: border-box;
    width: 850px;
    height: 450px;
    padding: 20px 15px 15px 15px;
    margin: 15px auto 30px auto;
    border: 1px solid #ddd;
    background: #fff;
    background: linear-gradient(#f6f6f6 0, #fff 50px);
    background: -o-linear-gradient(#f6f6f6 0, #fff 50px);
    background: -ms-linear-gradient(#f6f6f6 0, #fff 50px);
    background: -moz-linear-gradient(#f6f6f6 0, #fff 50px);
    background: -webkit-linear-gradient(#f6f6f6 0, #fff 50px);
    box-shadow: 0 3px 10px rgba(0,0,0,0.15);
    -o-box-shadow: 0 3px 10px rgba(0,0,0,0.1);
    -ms-box-shadow: 0 3px 10px rgba(0,0,0,0.1);
    -moz-box-shadow: 0 3px 10px rgba(0,0,0,0.1);
    -webkit-box-shadow: 0 3px 10px rgba(0,0,0,0.1);
}

.demo-placeholder {
    width: 100%;
    height: 100%;
    font-size: 14px;
    line-height: 1.2em;
}
