form {
   margin: 1em;
   padding: 1em;
   border-radiuss: 4px;
}

input[type=submit] {
   border-radius: 4px;
   color: blue;
   background: #ccc;
}
input[type=submit]:hover {
   background: #efefef;
   cursor: pointer;
}
fieldset {
   padding: 1em;
   font: 80%/1 sans-serif;
   border: solid 1px blue;
}

label {
  float: left;
  width: 25%;
  margin-right:0 .5em;
  padding-top: 0.2em;
  text-align: right;
  font-weight: bold;
}

legend {
   padding: 0.2em 0.5em;
   border: 1px solid green;
   border-radius: 4px;
   color:green;
   font-size: 100%;
   text-align: left;
}

.status_not_started {
   color: red;
}

.status_in_progress {
   color: blue;
}

.status_done {
   color: green;
}

.console {
   width: auto;
   margin: 1em;
   padding: 1em;
   border-radius: 5px;
   background: #000;
   color: green;
   font: bold 1em monospace

}
