<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>HomeSense</title>
    <script src="../lib/js/jquery.min.js"></script>
    <script src="../lib/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="../lib/css/bootstrap.min.css">
    <link rel="stylesheet" href="../lib/css/font-awesome.css">
    <link rel="stylesheet" href="../lib/css/bootstrap-social.css">
    <link rel="stylesheet" href="../styles/common.css">
</head>
<body>
<main class="container">
    <header class="bottom-border">
        <a href="../index.html"><img src="../imgs/bannerLogo.png"></a>
        <h1></h1>
    </header>

    <footer>
        &copy; HomeSense 2014
    </footer>
</main>
</body>
</html>