<html>
<head>
    <meta charset="utf-8">
    <title>HomeSense</title>
    <script src="../lib/js/jquery.min.js"></script>
    <script src="../lib/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="../lib/css/bootstrap.min.css">
    <link rel="stylesheet" href="../lib/css/font-awesome.css">
    <link rel="stylesheet" href="../styles/common.css">
</head>
<body>
<main class="container">
    <header class="bottom-border">
        <a href="../index.html"><img src="../imgs/bannerLogo.png"></a>

        <article class="dropdown navbar-right">
            <button class="dropdown-toggle btn btn-default" data-toggle="dropdown">
                <img src="../imgs/defaultUserImg.png">
                <b class="caret"></b>
            </button>
            <ul class="dropdown-menu">
                <li><a href="dashboard.html">Dashboard</a></li>
                <li><a href="#">Settings</a></li>
                <li><a href="#">Sign out</a></li>
            </ul>
        </article>
    </header>

	<pre>
			<font size="18" align="right"><b>Configure New Pi</b></font>
			<strong>Customer Id</strong>                  <font size="14">2019</font>        
			<strong></strong>

	</pre>
	<style type="text/css">
 .row { vertical-align: top; height:auto !important; }
 .list {display:none; }
 .show {display: none; }
 .hide:target + .show {display: inline; }
 .hide:target {display: none; }
 .hide:target ~ .list {display:inline; }
 @media print { .hide, .show { display: none; } }
 </style>
<body>
	 <font size="10">Devices</font> 
	 <p>
	 <p>
	 <p>
	
	
	<div class="row">
 <a href="#hide1" class="hide" id="hide1">Pi1</a>
 <a href="#show1" class="show" id="show1">Collapse</a>
 <div class="list">
 <ul>
 <li>Sensor 1</li>
	<ul>
		<li>ID : 13</li>
	</ul>
 <li>Sensor 2</li>
 </ul>
 </div>
 </div>
 

</main>
</body>
	

</body>	
</html>
